<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/readStory.css" />

    <title>Read Story</title>
  </head>

  <body background="/images/bg.jpg">
    <div class="top">
      <input type="checkbox" id="toggle-btn" />
      <label for="toggle-btn" class="show-menu-btn"
        ><i class="fas fa-bars"></i
      ></label>

      <div class="nav">
        <div class="logo">
          <a href="/"><img src="/images/logo.png" alt="Logo" /></a>
        </div>

        <ul class="navigation">
          <li>
            <a href="/"><i class="fas fa-house-damage"></i> Home </a>
          </li>
          <li>
            <a href="/stories"><i class="fas fa-book-open"></i> Stories </a>
          </li>
          <li>
            <a href="#"><i class="fas fa-question"></i> About </a>
          </li>

          <label for="toggle-btn" class="hide-menu-btn"
            ><i class="fas fa-times"></i
          ></label>
        </ul>
      </div>
    </div>

    <div class="story-body" id="storybody">
      <div class="story-antet">
        <div class="story-image">
          <img id="coverImg" name="cover_image" src="" alt="cover-img" />
        </div>

        <div class="story-details">
          <div class="story-title">Title: <%= story.title%></div>

          <div class="story-author">Author: <%= story.author%></div>

          <div class="story-preview">Preview: <%= story.preview %></div>

          <div class="story-date-and-number-of-views">
            <div class="story-date">Date: <%= story.publishDate %></div>

            <div class="story-number-of-views">
              <i class="fas fa-eye">200</i>
            </div>
          </div>

          <div class="story-genre">Genre: <%= story.genre %></div>
        </div>
      </div>

      <div class="read-block"><%= story.content %></div>
    </div>

    <div class="comment-section">
      <% story.comments.forEach(comment => { %>
      <div class="comment">
        <div class="name-and-date">
          <div class="comment-name">
            <a href="#"><%= comment.name %></a>
          </div>
          <div class="comment-date"><%= comment.date %></div>
        </div>
        <div class="comment-body"><%= comment.body %></div>
      </div>
      <% }); %> <% if (story.comments.length === 0) { %>
      <div class="no-comments">
        <i class="fa-solid fa-heart-crack"></i>No comments available.
      </div>
      <% } %>
    </div>

    <div class="footer">
      <div class="social-links">
        <a href="#"
          ><i class="fab fa-facebook-square" style="color: #3b5998"></i
        ></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter" style="color: #00acee"></i></a>
      </div>

      <ul>
        <li><a href="#"> Terms </a></li>
        <li><a href="#"> Privacy </a></li>
        <li><a href="#"> Help </a></li>
        <li><a href="#"> &copy 2023 </a></li>
      </ul>
    </div>
  </body>
</html>
